@model JewelShopProject.Models.Image.ImageDim

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DimInfoMst</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@ViewBag.sucess</p>
        <form asp-controller="DimInfoMsts" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DimType" class="control-label"></label>
                <input asp-for="DimType" class="form-control" />
                <span asp-validation-for="DimType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimSubType" class="control-label"></label>
                <input asp-for="DimSubType" class="form-control" />
                <span asp-validation-for="DimSubType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimCrt" class="control-label"></label>
                <input asp-for="DimCrt" class="form-control" />
                <span asp-validation-for="DimCrt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DimPrice" class="control-label"></label>
                <input asp-for="DimPrice" class="form-control" />
                <span asp-validation-for="DimPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <td>Select Image</td>
                <input type="file" asp-for="DimImgPath" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



